<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>

<body>
    <div class="container" style="padding:20px">
        <div class="card card-body bg-light">
            <h1>{{pageTitle}}</h1>
            <h3>Hello {{userName}}</h3>
        </div>
    </div>
</body>

</html>