<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>

<body>
  <div class="container" style="padding:20px">
    <div class="card card-body bg-light">
      <h1>{{pageTitle}}</h1>
      <form action="/submitName" method="post">
        Enter your name: <br />
        <input type="text" class="form-control" name="userName" style="max-width:300px">
        <br />
        <input type="submit" value="OK" class="btn btn-primary">
      </form>
    </div>
  </div>
</body>

</html>